.carousel-container {
    position: relative;
}

.carousel-container img {
    height: 415px;
    width: 100%;
    border-radius: 25px;
}

.arrow-container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
}

.arrow {
    display: block;
    cursor: pointer;
    padding: 5px;
}

.index-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 768px) {

    .carousel-container img {
        height: 290px;
        max-width: 96%;
        border-radius: 15px;
        margin-left: 13px;
        margin-right: 10px;
    }

    .arrow-container svg {
        width: 22px;
    }

    .index-container {
        display: none;
    }
}