.error-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.error-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.error,
.errorMessage,
.to-home {
    color: #ff6060;
}

.error {
    font-size: 220px;
    font-weight: 700;
    margin-bottom: 80px;
}

.errorMessage {
    font-size: 30px;
    margin-bottom: 200px;
}

.to-home {
    font-size: 100px;
    position: absolute;
    
}